.App {
  text-align: center;
}

.dropdown:hover .dropdown-menu{
  display: block;
}

.shareMyWorkBtn{
  background-color: #ea4c89;
}

span a{
  color: #ea4c89;
}
.card-content{
  background-image: linear-gradient(rgba(100,100,100, 0), rgba(0, 0, 0, 0.6) 50%);
}
.marketGood{
  width: 400px;
  display: flex;
  overflow-x: auto;
}

.testimgdiv {
  width: 120px;
  height: 100px;
  flex: 0 0 auto;
}